.main_cover {
    width: 555px;
    height: 380px;
}

.slider_cover {
    width:250px;
    height:310px;
}

.cart_cover {
    width:160px;
    height:190px;
}

.images_size {
    width:170px;
    height:120px;
}

